--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO postgres;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO postgres;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id bigint NOT NULL,
    nama character varying(255) NOT NULL,
    jenis character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT units_jenis_check CHECK (((jenis)::text = ANY ((ARRAY['UNOR'::character varying, 'UNKER'::character varying, 'UPT'::character varying])::text[])))
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.units_id_seq OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- Name: unker_buktis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unker_buktis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unker_buktis_id_seq OWNER TO postgres;

--
-- Name: unker_buktis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unker_buktis (
    id bigint DEFAULT nextval('public.unker_buktis_id_seq'::regclass) NOT NULL,
    unker_indikator_id bigint NOT NULL,
    unit_id integer NOT NULL,
    metode_index smallint,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    tahun integer DEFAULT 2025 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    user_id bigint
);


ALTER TABLE public.unker_buktis OWNER TO postgres;

--
-- Name: unker_indikators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unker_indikators_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unker_indikators_id_seq OWNER TO postgres;

--
-- Name: unker_indikators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unker_indikators (
    id bigint DEFAULT nextval('public.unker_indikators_id_seq'::regclass) NOT NULL,
    nomor integer NOT NULL,
    kriteria character varying(255) NOT NULL,
    indikator character varying(255) NOT NULL,
    komponen character varying(255) NOT NULL,
    metode_pengukuran text NOT NULL,
    penilaian text NOT NULL,
    bukti_persyaratan text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    kategori character varying(50),
    opsi_nilai character varying(255)
);


ALTER TABLE public.unker_indikators OWNER TO postgres;

--
-- Name: unker_penilaians_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unker_penilaians_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unker_penilaians_id_seq OWNER TO postgres;

--
-- Name: unker_penilaians; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unker_penilaians (
    id bigint DEFAULT nextval('public.unker_penilaians_id_seq'::regclass) NOT NULL,
    indikator_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    file_bukti_1 character varying(255),
    file_bukti_2 character varying(255),
    penilaian_mandiri numeric(8,2),
    penilaian_tahap_1 numeric(8,2),
    note_penilaian_1 text,
    penilaian_tahap_2 numeric(8,2),
    note_penilaian_2 text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.unker_penilaians OWNER TO postgres;

--
-- Name: unor_buktis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unor_buktis (
    id bigint NOT NULL,
    unor_indikator_id bigint NOT NULL,
    unit_id integer NOT NULL,
    metode_index smallint,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    tahun integer DEFAULT 2025 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    user_id bigint
);


ALTER TABLE public.unor_buktis OWNER TO postgres;

--
-- Name: unor_buktis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unor_buktis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unor_buktis_id_seq OWNER TO postgres;

--
-- Name: unor_buktis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unor_buktis_id_seq OWNED BY public.unor_buktis.id;


--
-- Name: unor_indikators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unor_indikators (
    id bigint NOT NULL,
    nomor integer NOT NULL,
    kriteria character varying(255) NOT NULL,
    indikator character varying(255) NOT NULL,
    komponen character varying(255) NOT NULL,
    metode_pengukuran text NOT NULL,
    penilaian text NOT NULL,
    bukti_persyaratan text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    kategori character varying(50),
    opsi_nilai character varying(255)
);


ALTER TABLE public.unor_indikators OWNER TO postgres;

--
-- Name: unor_indikators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unor_indikators_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unor_indikators_id_seq OWNER TO postgres;

--
-- Name: unor_indikators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unor_indikators_id_seq OWNED BY public.unor_indikators.id;


--
-- Name: unor_penilaians; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unor_penilaians (
    id bigint NOT NULL,
    indikator_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    file_bukti_1 character varying(255),
    file_bukti_2 character varying(255),
    penilaian_mandiri numeric(8,2),
    penilaian_tahap_1 numeric(8,2),
    note_penilaian_1 text,
    penilaian_tahap_2 numeric(8,2),
    note_penilaian_2 text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.unor_penilaians OWNER TO postgres;

--
-- Name: unor_penilaians_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unor_penilaians_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unor_penilaians_id_seq OWNER TO postgres;

--
-- Name: unor_penilaians_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unor_penilaians_id_seq OWNED BY public.unor_penilaians.id;


--
-- Name: upt_buktis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.upt_buktis_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.upt_buktis_id_seq OWNER TO postgres;

--
-- Name: upt_buktis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.upt_buktis (
    id bigint DEFAULT nextval('public.upt_buktis_id_seq'::regclass) NOT NULL,
    upt_indikator_id bigint NOT NULL,
    unit_id integer NOT NULL,
    metode_index smallint,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    tahun integer DEFAULT 2025 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    user_id bigint
);


ALTER TABLE public.upt_buktis OWNER TO postgres;

--
-- Name: upt_indikators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.upt_indikators_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.upt_indikators_id_seq OWNER TO postgres;

--
-- Name: upt_indikators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.upt_indikators (
    id bigint DEFAULT nextval('public.upt_indikators_id_seq'::regclass) NOT NULL,
    nomor integer NOT NULL,
    kriteria character varying(255) NOT NULL,
    indikator character varying(255) NOT NULL,
    komponen character varying(255) NOT NULL,
    metode_pengukuran text NOT NULL,
    penilaian text NOT NULL,
    bukti_persyaratan text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    kategori character varying(50),
    opsi_nilai character varying(255)
);


ALTER TABLE public.upt_indikators OWNER TO postgres;

--
-- Name: upt_penilaians_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.upt_penilaians_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.upt_penilaians_id_seq OWNER TO postgres;

--
-- Name: upt_penilaians; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.upt_penilaians (
    id bigint DEFAULT nextval('public.upt_penilaians_id_seq'::regclass) NOT NULL,
    indikator_id bigint NOT NULL,
    unit_id bigint NOT NULL,
    file_bukti_1 character varying(255),
    file_bukti_2 character varying(255),
    penilaian_mandiri numeric(8,2),
    penilaian_tahap_1 numeric(8,2),
    note_penilaian_1 text,
    penilaian_tahap_2 numeric(8,2),
    note_penilaian_2 text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.upt_penilaians OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    role_id bigint,
    unit_id bigint,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: units id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- Name: unor_buktis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_buktis ALTER COLUMN id SET DEFAULT nextval('public.unor_buktis_id_seq'::regclass);


--
-- Name: unor_indikators id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_indikators ALTER COLUMN id SET DEFAULT nextval('public.unor_indikators_id_seq'::regclass);


--
-- Name: unor_penilaians id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_penilaians ALTER COLUMN id SET DEFAULT nextval('public.unor_penilaians_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cache (key, value, expiration) FROM stdin;
biroumum@pu.go.id|127.0.0.1:timer	i:1771381781;	1771381781
biroumum@pu.go.id|127.0.0.1	i:1;	1771381781
timpenilai@pu.go.id|127.0.0.1:timer	i:1771467744;	1771467744
timpenilai@pu.go.id|127.0.0.1	i:1;	1771467744
admin@example.com|127.0.0.1:timer	i:1771815806;	1771815806
admin@example.com|127.0.0.1	i:3;	1771815806
user@pusdatin.pu.go.id|127.0.0.1:timer	i:1771831608;	1771831608
user@pusdatin.pu.go.id|127.0.0.1	i:1;	1771831608
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, created_at, updated_at) FROM stdin;
1	superadmin	2026-02-09 04:33:53	2026-02-09 04:33:53
2	user	2026-02-09 04:33:53	2026-02-09 04:33:53
3	timpenilai	2026-02-09 04:33:53	2026-02-09 04:33:53
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.units (id, nama, jenis, created_at, updated_at) FROM stdin;
4	Pusdatin	UNOR	2026-02-09 04:33:53	2026-02-09 04:33:53
2	Sekretariat Jenderal	UNOR	2026-02-09 04:33:53	2026-02-09 04:33:53
3	Inspektorat Jenderal	UNKER	2026-02-09 04:33:53	2026-02-09 04:33:53
6	Biro Umum	UNKER	2026-02-10 03:53:42	2026-02-10 03:53:42
10	Bina Marga	UNOR	2026-02-19 01:20:26	2026-02-19 01:20:26
14	SDA	UNOR	2026-02-19 01:40:48	2026-02-19 01:40:48
15	uptsatu	UPT	2026-02-24 03:50:06	2026-02-24 03:50:06
\.


--
-- Data for Name: unker_buktis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.unker_buktis (id, unker_indikator_id, unit_id, metode_index, file_name, file_path, tahun, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: unker_indikators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.unker_indikators (id, nomor, kriteria, indikator, komponen, metode_pengukuran, penilaian, bukti_persyaratan, is_active, created_at, updated_at, kategori, opsi_nilai) FROM stdin;
1	1	s	k	k\r\n||\r\nsasa	k	k	k	t	2026-02-24 03:19:21	2026-02-24 07:16:22	Organisasi	3,4,7
\.


--
-- Data for Name: unker_penilaians; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.unker_penilaians (id, indikator_id, unit_id, file_bukti_1, file_bukti_2, penilaian_mandiri, penilaian_tahap_1, note_penilaian_1, penilaian_tahap_2, note_penilaian_2, created_at, updated_at) FROM stdin;
1	1	4	\N	\N	\N	\N	\N	\N	\N	2026-02-24 06:48:44	2026-02-24 06:48:44
2	1	6	\N	\N	\N	\N	\N	\N	\N	2026-02-24 06:54:08	2026-02-24 06:54:08
\.


--
-- Data for Name: unor_buktis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.unor_buktis (id, unor_indikator_id, unit_id, metode_index, file_name, file_path, tahun, created_at, updated_at, user_id) FROM stdin;
35	7	4	1	Bandwidth PT. Global termin XII RPATA 1831 SPM 1908.pdf	UNOR/Pusdatin/1771897330_Bandwidth PT. Global termin XII RPATA 1831 SPM 1908.pdf	2025	2026-02-24 01:42:10	2026-02-24 01:42:10	7
\.


--
-- Data for Name: unor_indikators; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: unor_penilaians; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: upt_buktis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.upt_buktis (id, upt_indikator_id, unit_id, metode_index, file_name, file_path, tahun, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: upt_indikators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.upt_indikators (id, nomor, kriteria, indikator, komponen, metode_pengukuran, penilaian, bukti_persyaratan, is_active, created_at, updated_at, kategori, opsi_nilai) FROM stdin;
\.


--
-- Data for Name: upt_penilaians; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.upt_penilaians (id, indikator_id, unit_id, file_bukti_1, file_bukti_2, penilaian_mandiri, penilaian_tahap_1, note_penilaian_1, penilaian_tahap_2, note_penilaian_2, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 27, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.units_id_seq', 15, true);


--
-- Name: unker_buktis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unker_buktis_id_seq', 1, false);


--
-- Name: unker_indikators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unker_indikators_id_seq', 1, true);


--
-- Name: unker_penilaians_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unker_penilaians_id_seq', 2, true);


--
-- Name: unor_buktis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unor_buktis_id_seq', 35, true);


--
-- Name: unor_indikators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unor_indikators_id_seq', 35, true);


--
-- Name: unor_penilaians_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unor_penilaians_id_seq', 60, true);


--
-- Name: upt_buktis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.upt_buktis_id_seq', 1, false);


--
-- Name: upt_indikators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.upt_indikators_id_seq', 1, true);


--
-- Name: upt_penilaians_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.upt_penilaians_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 16, true);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_unique UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: unker_buktis unker_buktis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_buktis
    ADD CONSTRAINT unker_buktis_pkey PRIMARY KEY (id);


--
-- Name: unker_indikators unker_indikators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_indikators
    ADD CONSTRAINT unker_indikators_pkey PRIMARY KEY (id);


--
-- Name: unker_penilaians unker_penilaians_indikator_id_unit_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_penilaians
    ADD CONSTRAINT unker_penilaians_indikator_id_unit_id_key UNIQUE (indikator_id, unit_id);


--
-- Name: unker_penilaians unker_penilaians_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_penilaians
    ADD CONSTRAINT unker_penilaians_pkey PRIMARY KEY (id);


--
-- Name: unor_buktis unor_buktis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_buktis
    ADD CONSTRAINT unor_buktis_pkey PRIMARY KEY (id);


--
-- Name: unor_indikators unor_indikators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_indikators
    ADD CONSTRAINT unor_indikators_pkey PRIMARY KEY (id);


--
-- Name: unor_penilaians unor_penilaians_indikator_id_unit_id_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_penilaians
    ADD CONSTRAINT unor_penilaians_indikator_id_unit_id_unique UNIQUE (indikator_id, unit_id);


--
-- Name: unor_penilaians unor_penilaians_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_penilaians
    ADD CONSTRAINT unor_penilaians_pkey PRIMARY KEY (id);


--
-- Name: upt_buktis upt_buktis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_buktis
    ADD CONSTRAINT upt_buktis_pkey PRIMARY KEY (id);


--
-- Name: upt_indikators upt_indikators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_indikators
    ADD CONSTRAINT upt_indikators_pkey PRIMARY KEY (id);


--
-- Name: upt_penilaians upt_penilaians_indikator_id_unit_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_penilaians
    ADD CONSTRAINT upt_penilaians_indikator_id_unit_id_key UNIQUE (indikator_id, unit_id);


--
-- Name: upt_penilaians upt_penilaians_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_penilaians
    ADD CONSTRAINT upt_penilaians_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: unker_penilaians unker_penilaians_indikator_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_penilaians
    ADD CONSTRAINT unker_penilaians_indikator_id_foreign FOREIGN KEY (indikator_id) REFERENCES public.unker_indikators(id) ON DELETE CASCADE;


--
-- Name: unker_penilaians unker_penilaians_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unker_penilaians
    ADD CONSTRAINT unker_penilaians_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: unor_buktis unor_buktis_unor_indikator_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_buktis
    ADD CONSTRAINT unor_buktis_unor_indikator_id_foreign FOREIGN KEY (unor_indikator_id) REFERENCES public.unor_indikators(id) ON DELETE CASCADE;


--
-- Name: unor_buktis unor_buktis_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_buktis
    ADD CONSTRAINT unor_buktis_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: unor_penilaians unor_penilaians_indikator_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_penilaians
    ADD CONSTRAINT unor_penilaians_indikator_id_foreign FOREIGN KEY (indikator_id) REFERENCES public.unor_indikators(id) ON DELETE CASCADE;


--
-- Name: unor_penilaians unor_penilaians_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unor_penilaians
    ADD CONSTRAINT unor_penilaians_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: upt_penilaians upt_penilaians_indikator_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_penilaians
    ADD CONSTRAINT upt_penilaians_indikator_id_foreign FOREIGN KEY (indikator_id) REFERENCES public.upt_indikators(id) ON DELETE CASCADE;


--
-- Name: upt_penilaians upt_penilaians_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upt_penilaians
    ADD CONSTRAINT upt_penilaians_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE SET NULL;


--
-- Name: users users_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

